<link rel="stylesheet" href="/css/comment.css">

<div class="comment-container">
    <% if(locals.user && locals.user.id == comment.user.id) {%>
        <div><a href="/comments/destroy/<%=comment._id%>">Delete Comment</a></div>
        <%}%>
					<div><%= comment.content%></div>
    <div>- <%= comment.user.name%> </div>
</div>