<footer>
  <div class="container">
    <div class="credits">
      Developed by Lalit Jain
    </div>
    <div class="links-list">
      <div class="list-item"><a href="/">Home</a></div>
      <div class="list-item"><a href="/users/profile">Profile</a></div>
    </div>
  </div>
</footer>
