We Soc / <%= title %>
<link rel="stylesheet" href="/css/home.css">
<div id="home-container">
	<section id="feed-posts">
			<h4 class="section-heading">Posts</h4>
			<div id="posts-list-container">
					<% for(let post of locals.posts || []) { %>
						<%- include _post -%>
					<% } %>
			</div>
			<% if(locals.user) {%>
			<form action="/posts/create" method="POST" id="new-post-form">
				<textarea required name="content" id="content" cols="30" rows="5" placeholder="Type Here..."></textarea>
				<input type="submit" value="create Post">
			</form>
			<% } %>
			
		
	</section>		
	<section id="user-friends">
		<h4 class="section-heading">Friends</h4>
		<% for(let profile of users||[]) { %>
			<p>
				<a href="/users/profile/<%=profile.id%>">
					<%=profile.name%>
				</a>
			</p>
		<% } %>
	</section>
</div>
