body {
  margin: 0; }

a {
  text-decoration: none; }

#layout-main {
  padding: 0rem 1rem;
  min-height: 100vh; }

form input, form textarea {
  display: block;
  box-shadow: none;
  padding: 0.5rem;
  margin: 0.5rem;
  outline: none;
  border: none; }

form input[type=submit] {
  color: white;
  text-transform: capitalize;
  padding: 0.3rem 0.75rem;
  border-radius: 4px;
  background: linear-gradient(to bottom right, #55f, #33f);
  /*background: linear-gradient(to bottom right, rgba(36, 18, 85, 0.9), rgba(36, 18, 85, 0.8))*/ }

form textarea:focus, form input[type=text]:focus, form input[type=email]:focus, form input[type=password]:focus {
  box-shadow: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }
